<html>
    <head>
        <title>Simple form</title>
    </head>
    <body>
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.first_name.label }} {{ form.first_name }}
                <br>
                {{ form.last_name.label }} {{ form.last_name }}
                <br>
		{{ form.date_of_birth.label }} {{ form.date_of_birth }}
		<br>
		{{ form.favourite_num.label }} {{ form.favourite_num }}
		<br>
		{{ form.height.label }} {{ form.height }}
		<br>
		{{ form.language.label }} {{form.language}}
		<br>
                {{ form.submit }}
            {{ message }}
            </form>
        </div>
    </body>
</html>
